.wrapper {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    grid-column-gap: 12px
}

.input-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media only screen and (min-width: 720px) {
    .wrapper {
        display: grid;
        grid-template-columns: 80px 180px 220px;
        align-items: center;
        grid-column-gap: 12px
    }

    .input-wrapper {
        grid-column-start: unset;
        grid-column-end: unset;
    }
}