.wrapper form {
    display: grid;
    grid-template-columns: 1fr;
}


.form {
    padding: 16px;
}

.submit-button {
    padding-top: 3px;

}

.submit-button button {
    height: 60px;
}

.edit-button {
    grid-column-start: 4;
    grid-column-end: 5;
}

.submit-button button {
    width: 100%
}

.custom-width {
    min-width: 1000px;
}

@media only screen and (min-width: 600px) {
    .wrapper form {
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-column-gap: 12px;
    }
}

@media only screen and (min-width: 900px) {
    .wrapper form {
        display: grid;
        grid-template-columns: 180px 1fr 180px;
        grid-column-gap: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-column-gap: 12px;
    }
}