.wrapper form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-column-gap: 12px;
}

.submit-button {
    padding-bottom: 1.34375em;
}

.submit-button button {
    height: 100%;
}