<div class="event" *ngIf="event">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
    </button>
    <span>{{event.id}}</span>
    <span class="name">{{event.name}}</span>
    <span class="date">{{event.date | date }}</span>
    <button mat-stroked-button *ngIf="event.status == 'active'" (click)="deactivate()" color="warn">active</button>
    <button mat-stroked-button *ngIf="event.status == 'deactivate'" (click)="active()" color="primary">done</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit()" color="primary">Edit</button>
        <button mat-menu-item (click)="duplicate()" color="accent">Duplicate</button>
        <button mat-menu-item (click)="remove()" color="warn">Remove</button>
    </mat-menu>
</div>