<div class="wrapper">
    <div class="add-new-event">
        <add-new-todo-component></add-new-todo-component>
    </div>
    <div cdkDropList class="row-wrapper viewer-wrapper " *ngIf="todoList$ | async as list"
        (cdkDropListDropped)="drop($event, list.list)">
        <div class="viewer-title">Events</div>
        <div class="events-show">
            <filter-events-by (filterValue)="filterArray = $event"></filter-events-by>
            <mat-divider></mat-divider>
            <div *ngFor="let event of list.list | myFilter: filterArray | sortByActiveFirst ;trackBy: trackByFn"
                cdkDrag [cdkDragDisabled]="event.status == 'deactivate'"
                [ngClass]="{'move-cursor': event.status == 'active'}">
                <todo-event-row-component [event]="event"></todo-event-row-component>
            </div>
            <h3 *ngIf="list.list.length === 0">Your list is empty, you can add events</h3>
        </div>
    </div>
</div>